[querit]
api_key =
page_char_limit = 4000
result_count = 50

[carto]
api_base_url = https://gcp-us-east1.api.carto.com
api_key =
tile_url = https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png

[openrouter]
api_key =
base_url = https://openrouter.ai/api/v1
model = openai/gpt-4o-mini
provider = google-vertex/global
reasoning = low
